<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
  <div class="container">
    <div
      class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end"
    >
      <div class="col-first">
        <h1>Register</h1>
        <nav class="d-flex align-items-center">
          <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
          <a href="category.html">Login/Register<span
              class="lnr lnr-arrow-right"
            ></span></a>
          <a href="index.html">Register</a>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area -->

<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="login_box_img">
          <img class="img-fluid" src="/user/img/login.jpg" alt="" />
          
        </div>
      </div>
      <div class="col-lg-6">
        <div class="login_form_inner" style="padding-top: 50px;">
          <h3>enter your email</h3>
          <form
            class="row login_form"
            action="/forgotPass"
            method="post"
            id="contactForm"
            novalidate="novalidate"
          >

            <div class="col-md-12 form-group">
              <input
                type="email"
                class="form-control"
                id="name"
                name="Email"
                placeholder="Email"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Username'"
              />
            </div>
            
            <div class="col-md-12 form-group">
              <button
                type="submit"
                value="submit"
                class="primary-btn"
              >submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Login Box Area =================-->

