<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="/admin/admin-home" style="margin:0 auto;" class="app-brand-link">

      <span class="app-brand-text demo menu-text fw-bolder">ShoeLab admin</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item active">
      <a href="/admin/report" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Dashboard</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/admin/manage-users" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">User Management</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/admin/manage-orders" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Order Management</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/admin/manage-coupon" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Coupon Management</div>
      </a>
    </li>

    <li class="menu-item" hidden>
      <a href="/admin/admin-home" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Category Management</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/admin/admin-products" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Product Management</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/admin/report" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Reports</div>
      </a>
    </li>


    <li class="menu-item">
      <a href="/admin/admin-logout" target="_blank"
        class="menu-link">
        <i class="menu-icon tf-icons bx bx-file"></i>
        <div data-i18n="Documentation">Logout</div>
      </a>
    </li>

   
  </ul>
</aside>
<!-- / Menu -->