<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>404</h1>
            </div>
        </div>
    </div>
</section>

<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div style="text-align: center;">

                <i style="font-size: 5rem; " class="bi bi-cart-x"></i>
                <h1 style="color:red; margin-top: 1.5rem;">Something went wrong</h1>

                <h1>{{message}}</h1>
                <h2>{{error.status}}</h2>
                <pre>{{error.stack}}</pre>

            </div>
        </div>
    </div>
</section>