
	

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Register</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Login/Register<span class="lnr lnr-arrow-right"></span></a>
						<a href="index.html">Register</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="/user/img/login.jpg" alt="">
						<div class="hover">
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							<a class="primary-btn" href="/user-login">Already have an Account?</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner" style="padding-top: 50px;">
						<h3>Register to enter</h3>
						<form class="row login_form" action="/user_signup" method="post" id="contactForm" novalidate="novalidate">
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" required minlength="2" id="name" name="Firstname" placeholder="Firstname" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'">
							</div>
              <div class="col-md-12 form-group">
								<input type="text" class="form-control" id="name" name="Lastname" placeholder="Lastname" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'">
							</div>
              <div class="col-md-12 form-group">
								<input type="email" class="form-control" id="name" name="Email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" required minlength="3" id="name" name="Password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
							</div>
							<div class="col-md-12 form-group">
								
							</div>
							{{#if signErr}}
							<h5 style="margin:0 auto 10px auto; color:red;">{{signErr}}</h5>
							{{/if}}
							{{#if emailexistErr}}
							<h5 style="margin:0 auto 10px auto; color:red;">{{emailexistErr}}</h5>
							{{/if}}
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">submit</button>
								
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

